<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>study spring boot</title>
    <!--    <link rel="stylesheet" type="text/css" href="/css/newPost.css">-->
    <!--    <link rel="stylesheet" type="text/css" href="/css/main.css">-->
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body class="bg-gray-100">
<input type="hidden" th:value="${name}" id="name">
<form method="post">
<main class="flex items-center justify-center h-screen"  style="padding-top: 200px;">
    <div class="rounded-lg border bg-card text-card-foreground shadow-sm w-full max-w-md mx-auto" data-v0-t="card">
        <div class="flex flex-col space-y-1.5 p-6">
            <div class="flex justify-center items-center">
                <h3 class="text-2xl font-semibold leading-none tracking-tight">회원가입</h3>
            </div>
        </div>
        <div class="p-6">
            <div class="grid gap-4">
                <label
                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                        for="user_name"
                >
                    name
                </label>
                <input
                        class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                        id="user_name"
                        name="user_name"
                        placeholder="3글자이상 20글자이하 입력"
                        required=""
                />
                <label
                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                        for="user_id"
                >
                    ID
                </label>
                <input
                        class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                        id="user_id"
                        name="user_id"
                        placeholder="6글자이상 20글자이하 입력"
                        required=""
                />
                <label
                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                        for="user_pwd"
                >
                    Password
                </label>
                <input
                        class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                        id="user_pwd"
                        required=""
                        name="user_pwd"
                        placeholder="6글자이상 20글자이하 입력"
                        type="password"
                />
                <label
                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                        for="user_pwd_chk"
                >
                    Check Password
                </label>
                <input
                        class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                        id="user_pwd_chk"
                        required=""
                        placeholder="6글자이상 20글자이하 입력"
                        type="password"
                />
                <button id="reg_btn" class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 mt-4">
                    회원가입
                </button>
<!--                <div class="flex justify-between items-center mt-4">-->
<!--                    <a class="text-sm text-blue-500 hover:underline" href="#">-->
<!--                        비밀번호를 잊으셨습니까?-->
<!--                    </a>-->
<!--                    <a class="text-sm text-blue-500 hover:underline" href="#" id="reg_btn">-->
<!--                        회원가입-->
<!--                    </a>-->
<!--                </div>-->
            </div>
        </div>
    </div>
    <footer class="w-full p-6 border-t flex justify-center items-center fixed bottom-0">
        <p class="text-sm text-gray-600">© 2024 Bulletin Board. All rights reserved.</p>
    </footer>
</main>
</form>
<script>
    let name = document.getElementById("name").value;
    console.log(name)

    if(name.length > 0) {
        alert("이미 존재하는 아이디입니다");

        document.getElementById("user_name").value = name;
    }

    // 회원가입 버튼
    document.getElementById("reg_btn").addEventListener("click", function() {
        let error = true;
        let msg = "";

        if(document.getElementById("user_name").value.length === 0)
            msg = "이름을 입력하세요";
        else if(document.getElementById("user_name").value.length < 3 || document.getElementById("user_name").value.length > 20)
            msg = "이름 입력 범위를 맞춰주세요";
        else if(document.getElementById("user_id").value.length === 0)
            msg = "아이디를 입력하세요";
        else if(document.getElementById("user_id").value.length < 6 || document.getElementById("user_id").value.length > 20)
            msg = "아이디 입력 범위를 맞춰주세요";
        else if(document.getElementById("user_pwd").value.length === 0)
            msg = "비번을 입력하세요";
        else if(document.getElementById("user_pwd").value.length < 6 || document.getElementById("user_pwd").value.length > 20)
            msg = "비밀번호 입력 범위를 맞춰주세요";
        else if(document.getElementById("user_pwd").value !== document.getElementById("user_pwd_chk").value)
            msg = "비번이 다릅니다";
        else
            error = false;

        if(error) {
            event.preventDefault();
            alert(msg);
        }
    })

</script>
</body>
</html>